catboost
configparser
contextily
dgl
Flask==2.0.3
folium
geopandas
holidays
jupyter 
jupyterlab
keras==2.12.0
libpysal
lightgbm
matplotlib
missingno
networkx
nltk
numpy 
openpyxl
osmnx
pandas
pandas-bokeh
plotnine 
plotly
pmdarima
pymc3
pyyaml
rioxarray
segregation==2.0.0
pysal==2.5.0
pytest
scipy
seaborn
shap
shiny
shinywidgets
scikit-learn==1.2.2
statsmodels
sqlalchemy
tensorflow==2.16.1
torch
torch_geometric
torchvision
xgboost