configparser
contextily
dgl
Flask==2.0.3
folium
geopandas
holidays
jupyter 
jupyterlab
keras>=2.10.0
libpysal
matplotlib
missingno
networkx
nltk
numpy==1.20.0
openpyxl
osmnx
pandas==1.2.1
pysal==2.6.0
pandas-bokeh
plotnine 
plotly
pmdarima
pymc3
pyyaml
rioxarray
segregation==2.1.0
pytest
scipy
seaborn
shap
scikit-learn==1.2.2
statsmodels
sqlalchemy
tensorflow==2.10.0
torch
torch_geometric
torch-geometric-temporal # install Microsoft C++ tools as well
torchvision